@page "/about"

<PageTitle>About</PageTitle>

<h3>About Blazor Data Generator App</h3>

<p>Welcome to our information page. This is a Blazor Server App which developed with Asp.Net Core 6 architecture. Our web page generates fake employee datas and allows user to design datas by their wishes.</p>
@code {

}
